@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,500&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Playfair Display', serif;
}
#title {
    font-weight: 600;
    font-size: 2.5rem;
    color: black;
    margin-bottom: 3rem;
    text-align: center;
}
.title_name {
    font-weight: 600;
    font-size: 2rem;
    color: black;
    margin-bottom: 3rem;
    text-align: center;
}

.form_contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
.form_container {
    margin-bottom: 5rem;
}

.label {
    font-weight: 500;
    font-size: 1.5rem;
    color: black;
    margin-bottom: 0.5rem;
}
.inputbox {
    width: 20rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
    font-size: 1.2rem;
    outline: none;
}
.inputbox:focus {
    border: 1px solid #000;
    transition: 0.5s;
}
.inputbox::placeholder {
    font-weight: 500;
    font-size: 1.2rem;
    color: #ccc;
}
.state {
    height: 3.5rem;
    width: 21.5rem;
}
.create_btn {
    width: 10rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
    font-size: 1rem;
    outline: none;
    background-color: #fff;
    cursor: pointer;
}
.create_btn:hover {
    background-color: #ccc;
    transition: 0.5s;
}

img {
    width: 20rem;
    height: 16rem;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
.cat_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    transition: 0.5s;
}

.cat_card:hover {
    background-color: #fff;
    color: #000;
    transition: 0.5s;
    transform: translate(0, -0.5rem);
    box-shadow: #000 0px 0px 10px 0px;
}
.cat_card ul {
    list-style: none;
    font-weight: 200;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0;
    -webkit-text-stroke: 0.01rem grey;
}